In [ ]:
# Lamba expression

In [ ]:
squaring the number

In [1]:
def sqr(n):
    return n*n
sqr(5)

25

In [5]:
sqr_with_lambda = lambda n: n*n   #//var: singal expresiion
sqr_with_lambda(6)

36

In [6]:
type(sqr_with_lambda)

function

In [7]:
calc_sum = lambda *num : sum(num)  # * means taking alll the number from inputs
calc_sum(1,2,3,4,5,6,7,8,8,80,9)

133

# find square of n number without loops
squar_of_n = lambda

In [11]:
#squar_of_n = lambda n : n*n
squar_of_n = map(lambda n : n*2,[1,2,3,4,5])  # this will give you only refernce if you want see o/p convert it in list or tuple
print(squar_of_n)

<map object at 0x000001ACD0C57DF0>

In [12]:
squar_of_n = list(map(lambda n : n*2,[1,2,3,4,5])) # this will give you only refernce if you want see o/p convert it in list or tuple
print(squar_of_n)

[2, 4, 6, 8, 10]

In [22]:
check_palindrom = lambda string : string==string[::-1]
check_palindrom("NeoNitin")
check_palindrom("nitin")

True

#  filtering the strings

In [23]:
string=['nitin','kumar','raar','RahaR'] # i want to check which is palindrome
check = lambda string : string == string[::-1]
check_palindrome = filter(check,['nitin','kumar','raar','RahaR']) # ye bhi refernce print karega we need to convert in list or tuple
print(check_palindrome)

<filter object at 0x000001ACD0C62A60>

In [24]:
check = lambda string : string == string[::-1]
check_palindrome =list(filter(check,['nitin','kumar','raar','RahaR'])) # convert it in list
print(check_palindrome)

['nitin', 'raar', 'RahaR']

# factorial with lambda

In [25]:
from functools import reduce 
f = lambda n1,n2:n1*n2
fact = reduce(f,range(1,6)) # 6-1 = 5 ka factorial de dega 
fact

120