# function

In [4]:
print('-' * 75)

---------------------------------------------------------------------------

chahe  '' ya "" ya """ """ Ya ''' ''' sab string hi hota hai

fark ye hai '' aur ''' ''' ya """ """ me ye paragraph likhna huwa print karna huwa to """ aur "" use karenge to esase new line pe jane ke liye har baar \n lagana padega esi liye ham """ use karte hai

In [5]:
var = '''hello neo
this is python training program'''
print(var, '-', type(var))

hello neo
this is python training program - <class 'str'>

In [6]:
print("python")

python

In [8]:
import numpy as np

# DATA TYPE

In [6]:
# Python program to
# demonstrate numeric value

a = 5
print("Type of a: ", type(a))

b = 5.0
print("\nType of b: ", type(b))

c = 2 + 4j
print("\nType of c: ", type(c))

Type of a:  <class 'int'>

Type of b:  <class 'float'>

Type of c:  <class 'complex'>

In [14]:
import math as m
t=5225
print(type(t))
t=m.factorial(500)
print(t)
print(type(t))

#in python int range unlimited means int is itself double lldouble everything is INT in python

<class 'int'>
1220136825991110068701238785423046926253574342803192842192413588385845373153881997605496447502203281863013616477148203584163378722078177200480785205159329285477907571939330603772960859086270429174547882424912726344305670173270769461062802310452644218878789465754777149863494367781037644274033827365397471386477878495438489595537537990423241061271326984327745715546309977202781014561081188373709531016356324432987029563896628911658974769572087926928871281780070265174507768410719624390394322536422605234945850129918571501248706961568141625359056693423813008856249246891564126775654481886506593847951775360894005745238940335798476363944905313062323749066445048824665075946735862074637925184200459369692981022263971952597190945217823331756934581508552332820762820023402626907898342451712006207714640979456116127629145951237229913340169552363850942885592018727433795173014586357570828355780158735432768888680120399882384702151467605445407663535984174430480128938313896881639487469658817504506926365338175055478128640000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
<class 'int'>

# string

In [15]:
# Python Program for
# Creation of String

# Creating a String
# with single Quotes
String1 = 'Welcome to the Geeks World'
print("String with the use of Single Quotes: ")
print(String1)

# Creating a String
# with double Quotes
String1 = "I'm a Geek"
print("\nString with the use of Double Quotes: ")
print(String1)
print(type(String1))

# Creating a String
# with triple Quotes
String1 = '''I'm a Geek and I live in a world of "Geeks"'''
print("\nString with the use of Triple Quotes: ")
print(String1)
print(type(String1))

# Creating String with triple
# Quotes allows multiple lines
String1 = '''Geeks
			For
			Life'''
print("\nCreating a multiline String: ")
print(String1)

String with the use of Single Quotes:
Welcome to the Geeks World

String with the use of Double Quotes:
I'm a Geek
<class 'str'>

String with the use of Triple Quotes:
I'm a Geek and I live in a world of "Geeks"
<class 'str'>

Creating a multiline String:
Geeks
			For
			Life

# DATA Structure in PYTHON

# LIST
collection of elements belongs to any type and its mutable

Python Lists are just like the arrays, declared in other languages which is an ordered collection of data. It is very flexible as the items in a list do not need to be of the same type

The costly operation is inserting or deleting the element from the beginning of the List as all the elements are needed to be shifted. Insertion and deletion at the end of the list can also become costly in the case where the preallocated memory becomes full.

In [16]:
List = [1, 2, 3, "neo", 2.3,12345,'nitin']
print(List)

[1, 2, 3, 'neo', 2.3, 12345, 'nitin']

# list is mutable , we can modified in existing element in list

## list, Python dict, or Python set. mutable

In [18]:
l=[1,2,3,4]
#abhi dekho l0 pe 1 hai mai chahate hu 7 aa jaye to mutable hoaga to 
#ho jayega othewise nahi kar paoge agar immutable hota to jaie tuple hoat hai
l[0]=7
print(l)

[7, 2, 3, 4]

# Tuple ,string its immutable

## Immutable Objects are of in-built datatypes like int, float, bool, string, Unicode, and tuple. In simple words, an immutable object canâ€™t be changed after it is created.

In [25]:
t=(1,2,3,4,5)
print(type(t))
print(t[0])

#if i want to change the existing tuple element the see... t[0] pe 1 hai 8 lana chahata hu

 t[0]=8

IndentationError: unexpected indent (3390343030.py, line 7)

In [30]:
l=[1,2,3,4]

l.append(12)

l

[1, 2, 3, 4, 12]

# list me append karne ka baad bhi ID same rahati hai list ke object ki

In [34]:
l=[1,2,3,4]
print(id(l))
l.append(123)
print(id(l))

#list me append karne ka baad bhi ID same rahati hai list ke object ki
print(l)
t=(12,34,543)
t=t.append(231)

2783695421248
2783695421248
[1, 2, 3, 4, 123]

AttributeError: 'tuple' object has no attribute 'append'

## I want to add the element in tuple then we can do it with concatination ' tuple ka tuple se

#  tuple  me append karne ka baad ID change ho jati hai object ki

In [33]:
t=(1,2,3,4,5)
print(t)
print(id(t))
t=t+(12,35,66)
print(t)
print(id(t))


t=(1,2,3,4,5)
print(t)

t=t+(12,35,66)
print(t)
print(id(t))

#dekh sakte to tuple ne pg

(1, 2, 3, 4, 5)
2783694984672
(1, 2, 3, 4, 5, 12, 35, 66)
2783664282416

In [ ]:
my_list = [1, 2, 3]
my_list.append(4)
print(my_list)
 
my_list.insert(1, 5)
print(my_list)
 
my_list.remove(2)
print(my_list)
 
popped_element = my_list.pop(0)
print(my_list)        
print(popped_element)

# tuple operation

In [39]:
# Creating a Tuple with
# the use of Strings
Tuple = ('neo', 'For')
print("\nTuple with the use of String: ")
print(Tuple)
	
# Creating a Tuple with
# the use of list
list1 = [1, 2, 4, 5, 6]
print("\nTuple using List: ")
Tuple = tuple(list1)
print("List converted into tuple " ,Tuple)

# Accessing element using indexing
print("First element of tuple")
print(Tuple[0])

# Accessing element from last
# negative indexing
print("\nLast element of tuple")
print(Tuple[-1])

print("\nThird last element of tuple")
print(Tuple[-3])

Tuple with the use of String:
('neo', 'For')

Tuple using List:
List converted into tuple  (1, 2, 4, 5, 6)
First element of tuple
1

Last element of tuple
6

Third last element of tuple
4

# Set

## is an unordered collection of data that is mutable and does not allow any duplicate element. Sets are basically used to include membership testing and eliminating duplicate entries. The data structure used in this is Hashing, a popular technique to perform insertion, deletion, and traversal in O(1) on average.

In [40]:
Set = set([1234, 132, 'neo', 144, 'is', 466, 'nitin'])
Set

{1234, 132, 144, 466, 'is', 'neo', 'nitin'}

In [43]:
# Accessing element using
# for loop
Set = set([1234, 132, 'neo', 144, 'is', 466, 'nitin'])
for i in Set:
    print(i,end=" ")  #print(i ) it will print like in one line

132 is neo 144 1234 466 nitin

In [45]:
print('neo' in Set)

True

# FROZENSET frozenset([]) its immutable

In [46]:
## # Same as {"a", "b","c"}
normal_set = set(["a", "b","c"])
 
print("Normal Set")
print(normal_set)
 
# A frozen set
frozen_set = frozenset(["e", "f", "g"])
 
print("\nFrozen Set")
print(frozen_set)

Normal Set
{'c', 'b', 'a'}

Frozen Set
frozenset({'g', 'e', 'f'})

# Dictionary

In [51]:
l={1:'neo',2:'nitin'}
# accessing a element using key
print("Accessing a element using key:")
print(l[1])

Accessing a element using key:
neo

In [53]:
di= {'name':'neo nitin','l':[1,2,3,4]}
di

{'name': 'neo nitin', 'l': [1, 2, 3, 4]}

In [56]:
di= {x:x*2 for x in [1,2,3,89]}
di

{1: 2, 2: 4, 3: 6, 89: 178}

# string Partioning

In [57]:
string = 'python'
print('string -', string)
print('string[-5] -', string[-5])
print('string[3] -', string[3])

string - python
string[-5] - y
string[3] - h

In [82]:
s="Neonitin"
print(len(s))
print (s[:]) # print all char
print(s[1:]) # from index 1 to last
print(s[1:4])# 1 to till 3 index 4 is excludive
print(s[1::2]) # 2 ke differnce me
t= len(s)
#positive index
for i in range(0,len(s)):
    print(i,"postive index value -> ",s[i])
# negative index
print("<>" * 59)
for i in range(-len(s),0):
    print(i," negative index value -> ",s[i])

8
Neonitin
eonitin
eon
entn
0 postive index value ->  N
1 postive index value ->  e
2 postive index value ->  o
3 postive index value ->  n
4 postive index value ->  i
5 postive index value ->  t
6 postive index value ->  i
7 postive index value ->  n
<><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><>
-8  negative index value ->  N
-7  negative index value ->  e
-6  negative index value ->  o
-5  negative index value ->  n
-4  negative index value ->  i
-3  negative index value ->  t
-2  negative index value ->  i
-1  negative index value ->  n

# Slicing
'''

0    1     2     3      4      5
p    y     t     h      o      n
-6   -5    -4    -3     -2     -1     
'''

In [83]:
print('Division -', 5/2)
print('Floor Division -', 5//2)
print('Power of -', 5**2)

Division - 2.5
Floor Division - 2
Power of - 25

In [84]:
'''
Comparison => ==, !=, >, <, >=, <=
'''
print('Is php greater than perl -', 'PHP' > 'perl')

'''
Logical => and, or, not
'''
string = 'A'
print('is string palindrome -', len(string) % 2 == 0 and string == string[::-1])

print('-' * 75)

Is php greater than perl - False
is string palindrome - False
---------------------------------------------------------------------------

In [87]:
a=((1,2,3,4))
a
type(a)
a[1]=90
a

TypeError: 'tuple' object does not support item assignment

# Bytearray
# Python Bytearray gives a mutable sequence of integers in the range 0 <= x < 256.

In [90]:
a=bytearray((1,2,3,4))
print("Creating Bytearray:")
print(a)
type(a)

Creating Bytearray:
bytearray(b'\x01\x02\x03\x04')

bytearray

# day -2

# membership operator (in, not in )

In [91]:
s='python'
print('on' in s)

True

# IDENTITY OPERATOR

## pass by value means it willl not effect original one

In [98]:
l_a = ['NEo',123]
l_b = l_a[:]  # pass by value
l_a.append('67')
print('l_a', l_a)
print('l_b',l_b)
print('id of l_a',id(l_a))
print('id of l_b',id(l_b))

l_a ['NEo', 123, '67']
l_b ['NEo', 123]
id of l_a 2783695570176
id of l_b 2783695516416

# a=b paassing by refernce matalab koi bhi change karenge dono me ho jayega

In [99]:
l_a = ['NEo',123,89]
l_b = l_a  # pass by reference   
l_a.append('67')
print('l_a', l_a)
print('l_b',l_b)
print('id of l_a',id(l_a))
print('id of l_b',id(l_b))

l_a ['NEo', 123, 89, '67']
l_b ['NEo', 123, 89, '67']
id of l_a 2783694592256
id of l_b 2783694592256

# * operator  as repetion

In [100]:
print("NEO" * 4)

NEONEONEONEO

In [108]:
print(2* 4)

8

In [109]:
print('ty '*2)

ty ty

In [107]:
print((1,23)*2)

(1, 23, 1, 23)

# conditional operator

In [113]:
s= 'NITIN' #checking palindrom
var='YES its palindrom' if s == s[::-1] else 'NO'
var

'YES its palindrom'

# LOOP

In [120]:
lst = [78,'neo',781,980]
for i in lst:
    print('elemnt',i,"id -> ",id(i))

elemnt 78 id ->  2783634674448
elemnt neo id ->  2783694337840
elemnt 781 id ->  2783695598736
elemnt 980 id ->  2783695598416

In [ ]:
elemnt 78 id ->  2783634674448
elemnt neo id ->  2783694337840
elemnt 78 id ->  2783634674448
elemnt 980 id ->  2783695598320

# list comprehension
[expression loop condition ]

In [3]:
sqr = [(n, n ** 2, n ** 3) for n in range(1, 11) if n % 3 == 0 or n % 5 == 0]
print('SQR LC -', sqr)

SQR LC - [(3, 9, 27), (5, 25, 125), (6, 36, 216), (9, 81, 729), (10, 100, 1000)]

In [4]:
print([n**2 for n in range(1,11)]) # normal

# [expression loop condition ]
# squaring only even numbers
print([n*2 for n in range(1,13) if n%2 == 0])

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[4, 8, 12, 16, 20, 24]

# if and else with list  Comprehension

## then [expression , both condition (if,else) ,  loop]

In [6]:
print([n*2 if n%2==0 else n*3 for n in range (1,11)]) # see the differnce

[3, 4, 9, 8, 15, 12, 21, 16, 27, 20]

In [142]:
# [f(x) if condition else g(x) for x in sequence]

print([n*2 if n%2==0 else n*3 for n in range(1,11)])

[3, 4, 9, 8, 15, 12, 21, 16, 27, 20]

In [130]:
value = 123
print(value, 'is', 'even' if value % 2 == 0 else 'odd')

123 is odd

In [131]:
print([for i in range(1,12) i*2 if i%2==0 else i*3]) # wrong way

SyntaxError: invalid syntax (403302020.py, line 1)

In [135]:
new_list = ['even' if x % 2 == 0 else 'odd' 
             for x in range(1, 10)]
new_list

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [137]:
print(['even' if x % 2 == 0 else 'odd' for x in range(1, 10)])

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [9]:
print([n*2  for n in range(1,11) if n%2 == 0 ])  # expression loop condition 
print([x*2 if x % 2 == 0 else x*3 for x in range(1, 10)]) # expression condition loop

[4, 8, 12, 16, 20]
[3, 4, 9, 8, 15, 12, 21, 16, 27]

# lamda function

In [14]:
# normal function 
def sqr(n):
    return n**3
print(sqr(5))
    
    
    # Lamda function
sqr = lambda n : n**2
print(sqr(6))

125
36